.userName {
    display: flex;
    align-items: center;
    right: 200px;
    position: absolute;
    margin-top: -3px !important;
  }
  
  .userName button {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

  .userImage {
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
  }