.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .modal input[type="text"],
  .modal input[type="date"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;

}

.modal input[type="date"] {
  width: 150px;
}

.taskDetails {
  display: flex;
  align-items: center;
}

.taskDetailsEdit {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.taskLabel {
  font-weight: bold;
  margin-right: 10px;
}

.taskFilters {
  display: flex;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 100px;
  height: 30px;
  justify-content: space-between;
  border: 1px solid #999999;
  border-radius: 5px;
}

.buttonContainerTaskModal {
  display: flex;
  justify-content: space-between;
  width: 500px; 
  margin-top: 40px;
}

