
.viewDeletedTasksButton {
    background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  }
  
  .viewDeletedTasksButton:hover {
    font-size: 18px;
    color: var(--green2);
  }