.header {
    background-color: var(--green3);
    height: 60px;
    display: flex;
    position: relative;
}
.header div {
    color: white;
    margin-top: 20px;
}

.dateHeader {
    right: 150px; 
    position: absolute;
  }
  
  