.warning-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .warning-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
  }

  .warning-modal h2 {
    color: red;
  }