.center-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
  }

  .loginpanel {
    z-index: 3;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: var(--green3);
    background-color: hsla(0, 0%, 100%, 0.7);
    border-radius: 10px;
    height: 440px;
    width: 330px;
  }

  #login,
  #password {
    margin-bottom: 15px;
    padding-left: 5px;
    width: 200px;
    height: 25px;
    border: var(--green3) 1px solid;
    border-radius: 5px;
    text-align: left;
  }

  .registerLink {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    color: var(--green3);

}

#registerLink {
  margin-top: 80px; 
}

.registerLink:hover {
    color: var(--green2);
}

  .loginpanel ::placeholder {
    color: var(--green2);
  }
  .loginpanel input[type="text"] {
    color: var(--green3);
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
  }
  #warningMessage {
    color: var(--green3);
    font-size: 14px;
    margin-top: 17px;
  }
  /* Animação fade in para o container de login */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .inputLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: 330px;
    height: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .userImageLogin {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--green3);
    margin-bottom: 20px;
    margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.buttonContainerLogin {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin-top: -20px;
}

