:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  --white: #f9f9f9;
  --light-grey: #c8e4e7;
  --grey: grey;
  --green1: #2cccd3;
  --green2: #21979c;
  --green3: #223c4a;
  --black: #0e1a21;
  --overlay: #223c4aab;

  margin: 0;
  padding: 0;
  background-color: var(--black);
  position: relative;
  background-image: url("multimedia/background_main_task.png");
}
.myButton {
  background-color:rgba(0, 90, 128, 0.614);
  border: none;
  color: var(--green3);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.myButton:hover {
  background-color: var(--green3);
  color: var(--green1);
}



